@{
    ViewBag.Title = "Home";
}

<div class="jumbotron layout1">
    <h1>Yu-Hsuan Huang - 200443723</h1>
    <h3>Manage Use Cars</h3>
    <p class="lead">This website help you to manage your second hand cars</p>
</div>

<div class="function">
    <!-- Three columns of text below the carousel -->
    <div class="row">
        <div class="col-lg-4">
            <img class="rounded-circle" src="https://image.flaticon.com/icons/svg/1189/1189156.svg" alt="Generic placeholder image" width="180" height="180">
            <h2>Assurance of Quality</h2>
            <p>Sell quality-guaranteed vehicles and provide customers with a safe and reliable used car</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img class="rounded-circle" src="https://image.flaticon.com/icons/svg/639/639365.svg" alt="Generic placeholder image" width="180" height="180">
            <h2>Reasonable budget</h2>
            <p>Provide second-hand cars with reasonable prices based on the year, mileage and equipment of the car</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img class="rounded-circle" src="https://image.flaticon.com/icons/svg/3014/3014275.svg" alt="Generic placeholder image" width="180" height="180">
            <h2>Warranty Guarantees</h2>
            <p>If there is any problem with the vehicle, we will provide assistance to help you quickly repair any vehicle purchased from us</p>
        </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
</div>
