/* DEFAULT
-------------------------------------------------- */
.body-content {
    padding-top: 56px;
}

h2 {
    padding: 2rem 0;
}

li.nav-item {
    padding: 0 1rem;
}

.dl-horizontal dd {
    text-indent: 2rem;
}


/* DATATABLE
-------------------------------------------------- */
#dataTable tr:hover {
    background-color: whitesmoke;
    cursor: pointer;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

.layout1 {
    background-image: url(https://images.unsplash.com/photo-1568605117036-5fe5e7bab0b7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    color: white;
    padding-top: 300px !important;
}

.function .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
}
.function h2 {
    font-weight: 400;
}
.function .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
}
.function img {
    border-radius: 50%
}